.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar_negative{
    fill: steelblue;
    fill-opacity: 0.9;
  }
.bar_positive{
    fill: #c00;
    fill-opacity: 0.9;
  }



.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}



div.tooltip {   
    position: absolute;     
    text-align: center;
    vertical-align: middle;   
    width: 150px;                  
    height: 90px;                 
    padding: 5px; 
    color: #000000;          
    font-size: 12px;     
    background: #FFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border: 2px;  
    border-radius: 8px;  
    pointer-events: none;                  
  } 

